[flake8]
max-line-length = 99
count = True
exclude =
    # git
    .git,
    # caches
    __pycache__, .cache,
    # virtual environments
    env, .venv,
    # project folders without python files
    requirements

# http://flake8.pycqa.org/en/latest/user/configuration.html
